---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Bira for Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('May 03 2025')}

>

GTR
<ul class="gal">

        <li><a href="=https://plus.unsplash.com/premium_photo-1674917000586-b7564f21540e?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"><img src="https://plus.unsplash.com/premium_photo-1674917000586-b7564f21540e?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D'"></a></li>
        <li><a href="https://images.unsplash.com/photo-1480497490787-505ec076689f?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"><img src="https://images.unsplash.com/photo-1480497490787-505ec076689f?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"></a></li>
        <li><a href="https://images.unsplash.com/photo-1502085671122-2d218cd434e6?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"><img src="https://images.unsplash.com/photo-1502085671122-2d218cd434e6?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"></a></li>
        <li><a href="https://images.unsplash.com/photo-1554629947-334ff61d85dc?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"><img src="https://images.unsplash.com/photo-1554629947-334ff61d85dc?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"></a></li>
        <li><a href="https://images.unsplash.com/photo-1478059299873-f047d8c5fe1a?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"><img src="https://images.unsplash.com/photo-1478059299873-f047d8c5fe1a?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"></a></li>
        <li><a href="https://plus.unsplash.com/premium_photo-1675629118861-dc8aa2acea74?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"><img src="https://plus.unsplash.com/premium_photo-1675629118861-dc8aa2acea74?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"></a></li>
        <li><a href="https://images.unsplash.com/photo-1465056836041-7f43ac27dcb5?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fG1vdW50YWlufGVufDB8fDB8fHww"><img src="https://images.unsplash.com/photo-1465056836041-7f43ac27dcb5?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fG1vdW50YWlufGVufDB8fDB8fHww"></a></li>
        <li><a href="https://plus.unsplash.com/premium_photo-1675629118861-dc8aa2acea74?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"><img src="https://plus.unsplash.com/premium_photo-1675629118861-dc8aa2acea74?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"></a></li>
</ul>

<dialog>
    <button>Close</button>
    <img>
</dialog>

<script is:inline>
    const dialogEl=document.querySelector('dialog');
    const galleryEl=document.querySelector(".gal");
    const closeButtonEl=document.querySelector('dialog button');
    const imageDialogEl=document.querySelector('dialog img');

    [...galleryEl.querySelectorAll('li a')].forEach((link) => {
        link.addEventListener('click', (e) => {
            e.preventDefault();
            console.log(e.currentTarget.href);
            imageDialogEl.setAttribute('src', e.currentTarget.href);
            dialogEl.showModal();
        })
        
    })
    closeButtonEl.addEventListener('click', ()=> {
        dialogEl.close()
    });
</script>
<ul class="carousel">

    <li><a href="#"><img src="https://plus.unsplash.com/premium_photo-1674917000586-b7564f21540e?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D'"></a></li>
    <li><a href="#"><img src="https://images.unsplash.com/photo-1480497490787-505ec076689f?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"></a></li>
    <li><a href="#"><img src="https://images.unsplash.com/photo-1502085671122-2d218cd434e6?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"></a></li>
    <li><a href="#"><img src="https://images.unsplash.com/photo-1554629947-334ff61d85dc?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"></a></li>
    <li><a href="#"><img src="https://images.unsplash.com/photo-1478059299873-f047d8c5fe1a?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"></a></li>
    <li><a href="#"><img src="https://plus.unsplash.com/premium_photo-1675629118861-dc8aa2acea74?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"></a></li>
    <li><a href="#"><img src="https://images.unsplash.com/photo-1465056836041-7f43ac27dcb5?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fG1vdW50YWlufGVufDB8fDB8fHww"></a></li>
    <li><a href="#"><img src="https://plus.unsplash.com/premium_photo-1675629118861-dc8aa2acea74?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D"></a></li>
</ul>
</Layout>
<style>
    img {
        display: block;
        width: 100%;
        height: auto;

    }
    .gal {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        margin-bottom: 5em;
        &::after,
        li {
            display: block;
            flex: 1 1 180px;
        }
        &::after {
            content: '';
            content: '';
        }
        &:has(li:hover) li {
            opacity: 0.3;
            &:hover {
                opacity: 1;
            }
        }
        li {
          transition: opacity 0.6s ease-in-out;
            border: 3px solid ;
            border-radius: 0.5em;
            box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.4);;
    
        a {
            display: block;
            aspect-ratio: 16/9;
            overflow: hidden;
            position: relative;
            border: 3px solid gray;
           
            border-radius: 0.4em;
            transition: scale 0.9s ease-in;

            &:hover {
                scale: 1.5;
                z-index: 5;
            }
            
    
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;

        }
    
        }
        li:nth-child(3) {
            border-color:blue ;
            rotate: 20deg;
            translate: 1em -5em;
        }
        li:nth-child(2) {
            transform: skew(-10deg);
        }
    }
.carousel {
    padding: 1em 0;
    gap: 1em;
    overflow: auto;
    display: flex;
    scroll-snap-type: x proximity;
    li {
        flex: 0 0 300px;
        display: block;
        scroll-snap-align: center;

        a {
            display: block;
            aspect-ratio: 16/9;
            overflow: hidden;
            position: relative;
            border: 3px solid gray;
           
            border-radius: 0.4em;
        }
    }
    img {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;

        }
}
    
</style>
